:root {
   --cor-preto: #012738;
   --cor-destaque: #9becff;
   --cor-branco: #ffffff;
   --cor-verde: #3c9209;
   --cor-cinza: #202020;
   --cor-vermelha: #EC0B0B;

   --regular: 'Montserrat-Regular';
   --bold:'Montserrat-bold';
   --roboto: 'Roboto-Regular';

}